

/*For setting font*/
.font {
	font-family: american typewriter;
}

/*For paragraph text color*/
.para {
	color: white;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 40px;
	margin-top: 20px;
}

/*For h1*/
.title {
	color: #4dd2ff;
	font-size: 25px;
	font-family: futura;
	text-align: center;
	padding: 30px;
}

/*For space between navbar links*/
.options {
	text-align: center;
	padding: 50px;
	margin: 10px;
}

/*To keep images in center*/
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
}

/*For page background */
body {
	background-color: black;
}

/*For image to fit screen*/
img {
	width: 100%;
	height: 100%;
}

a:link {
	color: #00e600;
	padding: 0px 10px;
}

a:hover {
	color: white;
	padding: 0px 10px;
}

a:visited {
	color: #4dd2ff;
	padding: 0px 10px
}
